//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the stockists page.
// -----------------------------------------------------------------------------

.page-stockists {
    .stockists {
        .wrapper-stockist-form {
            margin-top: 30px;
        }
    
        .stockist-form {
            display: flex;
            flex-wrap: wrap;
            padding: 30px;
            color: #fff;
            background-color: $violet;
            border-radius: 5px;
        }

        h3 {
            color: #fff;
        }

        .text,
        .form {
            width: 100%;
            max-width: 50%;
        }

        .text {
            padding-right: 15px;
            
            * + * {
                margin-top: 10px;    
            }
        }

        .form {
            padding-left: 15px;
        }
    }

    @media (max-width: 767px) {
        .stockists {
            .stockist-form {
                padding: 25px 20px;
            }
            
            .text {
                max-width: 100%;
                padding-right: 0;
            }

            .form {
                max-width: 100%;
                margin-top: 25px;
                padding-left: 0;
            }
        }
    }
}