//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-adelle: 'Adelle';
$font-adelle-bold: 'Adelle Bold';
$font-arial: 'Arial';
$font-arial-bold: 'Arial Bold';
$font-arial-bold-italic: 'Arial Bold Italic';
$font-arial-italic: 'Arial Italic';

/// @type List
$text-font-stack: $font-arial, 'Arial', 'Arial Bold', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #505050 !default;

/// Main brand color
/// @type Color
$brand-color: #513f5e !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

// custom colors
$off-white: #fbfaf7;
$gray-border: #dbdbdb;
$violet: #68507a;
$violet-hover: #8f739d;
// $violet-highlight: #e3c3f3;
$violet-highlight: #483456;
$yellow: #e6ae2b;
$bright-yellow: #f9b233;
$yellow-line: #ede0c9;
$light-blue: #76bacd;
$red-punch: #dc3232;